In [36]:
import pandas as pd

In [37]:
df = pd.read_csv('../datasets/Restaurant_Reviews.tsv', sep='\t')
df.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [38]:
df['Liked'].value_counts()

Liked
1    500
0    500
Name: count, dtype: int64

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  1000 non-null   object
 1   Liked   1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [40]:
df['Review'] = df['Review'].str.strip()

In [41]:
df.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [42]:
df['Review'] = df['Review'].str.lower()

In [43]:
df.head()

                                              Review  Liked
0                           wow... loved this place.      1
1                                 crust is not good.      0
2          not tasty and the texture was just nasty.      0
3  stopped by during the late may bank holiday of...      1
4  the selection on the menu was great and so wer...      1

In [59]:
import contractions
df['Review'] = df['Review'].apply((contractions.fix))

In [60]:
import string
df['Review'] = df['Review'].str.translate(str.maketrans('', '', string.punctuation))

In [61]:
df.head()

                                              Review  Liked
0                               wow loved this place      1
1                                  crust is not good      0
2           not tasty and the texture was just nasty      0
3  stopped by during the late may bank holiday of...      1
4  the selection on the menu was great and so wer...      1

In [70]:
df.sample(10)

                                                Review  Liked
506         overall i was not very impressed with noca      0
97                                food arrived quickly      1
325      the black eyed peas and sweet potatoes unreal      1
642  our waiter was very attentive friendly and inf...      1
397  kids pizza is always a hit too with lots of gr...      1
293  i live in the neighborhood so i am disappointe...      0
776           these were so good we ordered them twice      1
749  wonderful lil tapas and the ambience made me f...      1
242  by this time our side of the restaurant was al...      0
107  the ambience is wonderful and there is music p...      1